.logoutbutton{
    background-color: #fff;
    cursor: pointer;
    padding: 3px 12px;
    height: 35px;
    border-radius: 10px;
    font-weight: 500;
}
.logoutbutton:hover{
    background-color: #020a47;
    color: #fff;
    
}

@media screen and (max-width: 1024px) {
  .logoutbutton {
    margin-right: 10px;
  }
}